.container {
	margin-top: 20px;
}

.index_images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.index_links {
	text-align: center;
}

.footer {
	position: absolute;
	  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}